<ul class="nav nav-tabs">
  <li class="nav-item">
    <%# <a class="nav-link active" aria-current="page" href="#">Teacher</a> %>
    <a class="nav-link" href="/admin/change/teacher">Teachers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/change/post">Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/change/user">User</a>
  </li>
</ul>


<div style="margin-left:40px; margin-right:40px;">
    <h3 style="margin-top:40px">
        Signed in as : <%=@user_email%>
    </h3>
</div>

<% if $tab == "teacher"%>
  <a href="/teacher-new" class="card-link" style="margin-left:40px;">New Teacher</a>
    <%= render :partial => 'teacher/index'%>
<% end %>

<% if $tab == "post"%>
    <a href="/post-new" class="card-link" style="margin-left:40px;">New Post</a>
    <%= render :partial => 'layouts/posts'%>
<% end %>

<% if $tab == "user "%>
    DDDDDD
<% end %>