<div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/Gold.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/Gold.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/Gold.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container" style="width: 100%;">
    <body>
        <h1>Pages#home</h1>
        <p>Find me in app/views/pages/home.html.erb</p>

        <% if current_user %>
            <p>Hello <%=current_user.email%>!</p>
            <p>You are a [<%= current_user.role%>]</p>
            <% if current_user.admin? %>
            <br>
                There are <%= User.count %> users
            <% end %>
            <p>
                Junmannn의 개발 Archive 에 오신 것을 환영합니다
            </p>
        <% else %>
            <p>You are not signed in.</p>
        <% end %>
    </body>
</div>



